/*contact页面*/

/*右边的一堆input*/
.col-8{
    padding-right:1rem;
    border:1px solid red;
}
.col-8 ul li input,.col-8 ul li textarea{
    outline:"none";
    width:100%;
    height:3rem;
    padding:5px;
    border:1px solid #dfdfdf;
}
.col-8 ul li h4{
    margin-top:2rem;
    font-size:1.2rem;
    color:#797979;
}








/*左边的3个div*/