/*首页section部分的样式*/

section .row{
    margin:0 
}
/****************************************banner1:轮播+大背景图**********************/
div.banner_first{
    width:100%;
    height:590px;
    background:url("../img/15.jpg") no-repeat;
    background-size:cover;
}
.banner_first_right{
    width:39%;
    height:auto;
    min-height:590px;
    background:rgba(0,0,0,0.3);
}
.nbs-flexisel-container{
    position:relative;
    max-width:100%;
}
.nbs-flexisel-inner{
    overflow: hidden;
    width:90%;
    margin:0 auto;
}
.nbs-flexisel-ul{
    position:relative;
    width:8888px;
    list-style:none;
    text-align: center;
}
.nbs-flexisel-item{
    float:left;
    position:relative;
    line-height:0px;
    list-style: none
}
/*轮播内容设置*/
.slider-grid{
    width:50%;
    height:420px;
    margin:4.5em auto;
    background: #fff;
}
.slider-grid h2{
    padding:8px 0;
    background:black;
    color:white;
    line-height:32px;
    font-size:24px;
}
.img-responsive{
    display: block;
    width: 75%;
    margin:0 auto;
}
.slider-body{
    text-align: center;
	margin-top: 1em;
}


.slider-body h6 a{
    font-size:20px;
    color:#01CDC9;
    transition: color 1s;
}
.slider-body h6 a:hover{
    color:black;
}
.slider-body .item_price{
    color:black;
    font-size:18px;
    font-weight:600;

}

.simpleCart_shelfItem>div:last-child{
    width: 65%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.simpleCart_shelfItem>div:last-child>a{
    display:block;
    background-color:#01CDC9;
    color:white;
    line-height:2rem;
    width:100%;
}
.simpleCart_shelfItem>div:last-child>a:first-child{
    background-color:#FF5C1D;
    position:absolute;
    transition:transform 0.5s ease-out;
}
.simpleCart_shelfItem>div:last-child>a:first-child:hover{
    transform:translateY(100%)
}
.simpleCart_shelfItem>p{
    display:block;
    line-height:20px;
    margin:10px;
}
/*箭头*/
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{
    width:40px;
    height:40px;
    position:absolute;
    cursor:pointer;
    z-index:100;
}
.nbs-flexisel-nav-left{
    left:8px;
    background:url("../img/ar.png") no-repeat 0 0;
}
.nbs-flexisel-nav-right{
    right:0px;
    background:url("../img/ar1.png") no-repeat 0 0;
}
/*************************banner2:田字格4小块+三个卡片**********************/
.banner_second::after{
    content:"";
    display:"block";
    clear:"both";
}
/*田字格4小块*/
.col-md-6 a img{
    width:100%;
}
.banner_second_left{
    width:100%;
    
}
.banner_second_left_tl{
    width:100%;

}
.banner_second_left_br{
    width:100%;
}
.banner_second_left_tr,.banner_second_left_bl{
    text-align: right;
    margin-top:2rem;
    padding-right:2em;
    padding-left: 0 !important;
}
.banner_second_left_bl>h1,.banner_second_left_tr>h1{
    font-weight: bold;
}
.banner_second_left_bl>p,.banner_second_left_tr>p{
    color:#909090;
    font-size: 18px;
}
.banner_second_left_bl>a,.banner_second_left_tr>a{
    font-size: 22px;
    text-decoration: underline;
    color:#01CDC9;
}
/*4小块中的文字里的链接*/
.banner_second_left_bl>a:hover,.banner_second_left_tr>a:hover{
    color:black;
    transition: color;
}

.banner_second .banner_second_h1{
    margin-top:-1rem;
}
.banner_second_left .row{
    margin-bottom: 2rem;
}
/*****************第二层的轮播****************/
.banner_second_right{
    height:450px;
    padding:0;
    padding-top:80px;
    
   
}
.owl-outer{
    width:100%;
    overflow:hidden;
    
}
#owl-demo li .item a:last-child{
    display:inline-block;
    transform:rotate(90deg);
    text-decoration: underline;
    font-size:26px;
    font-weight:400;
    color:black;
    flex:right;

}
#owl-demo li .item img{
    width:45%;
}
/*******轮播箭头********/
.owl-outer .nbs-flexisel-nav-right{
    right:0px;
    background:black url("../img/1.png") no-repeat 0 0;
}
.owl-outer .nbs-flexisel-nav-left{
    left:0px;
    background:black url("../img/2.png") no-repeat 0 0;
}
/****************************banner-body:左侧中图片+右边三个卡片****************/
.col-5,.col-7{
    padding:0 !important;
}
.banner_body{
    width:100%;
    position: relative;
}
/*左侧中图*/
.banner_body .col-5 img{
   width:100%
}
.banner_body .banner_body_people{
    width:100%;
    height: 100%;

    text-align: center;
    position: absolute;
    top:0;
}
.banner_body .banner_body_people h1{
    padding-top:45%;
    color:#00CDC9;
    font-size: 56px;
}
.banner_body .banner_body_people p{
    color: #ffffff;
    font-size:20px;
    line-height: 0px;
}
/*右边3卡片*/
.banner_body_right{
    width:100%;
    display: flex;
    justify-content:space-around ;
    padding:6% 2.5rem;
}
.my-card{
    width:25%;
    box-shadow:0 0 10px rgba(0,0,0,0.15) ;
    text-align: center;
}
.my-card-a{
    display: block;
    width:65%;
    margin:0 auto;
    margin-top: 1.8rem;
    position: relative;
    overflow: hidden;
}
.my-card-a img{
    max-width:100%;
}
.my-card-a .my-card-img{
    position:absolute;
    transition: transform 0.8s ease-out;
}
.my-card-img:hover{
    transform:translateX(-100%) ;
}
/*三个卡片--文字部分*/
.my-card ul{
    width:80%;
    margin:0 auto 1rem;
}
.my-card ul .my-card-title a{
    color:#00CDC9;
    font-size:18px;

}
li.my-card-title>a:hover{
    color:black;
    text-decoration: none;
}
.my-card-btn{
    width:65%;
    margin:0 auto;
    position:relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.my-card-btn a{
    width:100%;
    line-height: 2rem;
    display: block;
    background:#00CDC9;
    color:#fff;
}
.my-card-btn>a:hover{
    color:#fff;
    text-decoration: none;

}
a.my-card-btn-orange{
    background:#FF5C1D;
    position:absolute;
    transition:transform 0.5s ease-out;
}
.my-card-btn-orange:hover{
    transform:translateY(100%);
}
