<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.min.css">

    <script src="js/vue.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/qs.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/header.js"></script>
    <script src="js/axios.min.js"></script>
    
</head>
<body>
    <div class="myContainer" id="container">
        <!--header-->
        <header id="header"></header>


        <!--section-->
        <div class="section_top">
            <div class="left animated wow fadeInLeft" data-wow-delay=".5s">LOGIN</div>
            <div class="right">
                <a href="index.html">Home</a>
                <span>&nbsp;/&nbsp;Login</span>
            </div>
        </div>


        <div class="table_part">
            <div class="table_left">
                <div>
                    <input type="text" placeholder="User Name" v-model="uname">
                </div>
                <div>
                    <input type="password" placeholder="Password" v-model="upwd">
                </div>
                <div class="forget">
                    <i class="if_tick"></i>
                    <a href="#">Forget Password</a>
                </div>
            </div>
            <div class="table_right">
                <input type="button" value="Login" class="btn-login" @click="signin">
                <p>Do not have an account?</p>
                <input type="button" value="Signup" class="btn-signup">
            </div>
        </div>

        <div class="section_bottom">
            <div>
                <a href="#">FACEBOOK</a>
            </div>
            <div>
                <a href="#">TWITTER</a>
            </div>
            <div>
                <a href="3">GOOGLE+</a>
            </div>
            <div>
                <a href="#">PINTEREST</a>
            </div>
        </div>
      
      <!--footer-->
        <div class="footer">
            <div class="footer_top">
                <div class="footer_top_left">
                    <h4 class="footer_title">
                        Provide you with all new things in fashion 
                    </h4>
                    <p>
                        We provide a wide range of brand apparel and accessories series to meet the needs of various styles and occasions. Committed to creating the perfect fashion shopping experience, top-level customer service goes hand in hand.
                    </p>
                </div>
                <div class="footer_top_right">
                    <input type="button" value="Contact Us">
                </div>
            </div>
            <div class="footer_middle">
                <div class="row">
                    <div class="footer_middle_left col-lg-4">
                    <h3 class="footer_title">About Us</h3>
                    <p>As the leading online retail outlet</p>
                    <p>As the leading online retail outletwe provides a comprehensive selection of clothing series and accessories from modern fashion frontiers and brands.</p>
                </div>
                    <div class="footer_middle_center col-lg-4">
                    <h3 class="footer_title">Contact Info</h3>
                    <ul>
                        <li class="footer_address">
                            <i>#</i>&nbsp;&nbsp;1234k Avenue, 4th block,<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;New York City.
                        </li>
                        <li>
                            <i>#</i>&nbsp;&nbsp;info@example.com
                        </li>
                        <li>
                            <i>#</i>&nbsp;&nbsp;+1234 567 567
                        </li>
                    </ul>
                    </div>
                    <div class="footer_middle_right col-lg-4">
                    <h3 class="footer_title">Sign up for newsletter</h3>
                    <input type="email" placeholder="Email" class="footer_email"><input type="submit" value="SUBMIT" class="footer_submit">
                </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>
                    Copyright&nbsp;&copy;2018.Company&nbsp;name&nbsp;All&nbsp;rights&nbsp;reserved.
                </p>
                <br>
            </div>
        </div>
  </div>


<script>

    //动画时间设置
    wow=new WOW({
        animateClass:"animated"
    });
    wow.init();
</script>
<script src="js/login.js"></script>
</body>
</html>